name: Delete old workflow runs

on:
  workflow_dispatch: # 手动触发
  #schedule:
    #- cron: 0 21 * * *
jobs:
  del_runs:
    runs-on: ubuntu-latest
    steps:
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@main
        with:
          retain_days: 2
          keep_minimum_runs: 6

